footer p{
  display:none;	
}

.p_margin{
    margin: 20px 70px;
    width: 582px;
    font-family: bold;	
}

.contact-map .contact-address {
      top: 0;
    }
    .contact-us {
      margin-top: 99px;
      padding: 30px 0 110px 0;
      background: #fff;
      height: auto;
    }

      @media (max-width: 360px) {
        #mobile-banner,
        #mobile-footer {
          display: none;
        }

        .contact-us {
          margin-top: 0;
        }

        .contact-form label {
          text-align: left;
        }
      }
