footer p{
  display:none;	
}

.p_margin{
    max-width: 540px;
    margin: 20px 90px;
    font-family: bold;	
}

.contact-map .contact-address {
      top: 0;
    }


      @media (max-width: 360px) {
        #mobile-banner,
        #mobile-footer {
          display: none;
        }

        .contact-us {
          margin-top: 0;
        }

        .contact-form label {
          text-align: left;
        }
      }
